<%
# frozen_string_literal: true

# Redmine plugin OAuth
#
# Karel PiÄman <karel.picman@kontron.com>
#
# This file is part of Redmine OAuth plugin.
#
# Redmine OAuth plugin is free software: you can redistribute it and/or modify it under the terms of the GNU General
# Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
# later version.
#
# Redmine OAuth plugin is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
# the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along with Redmine OAuth plugin. If not, see
# <https://www.gnu.org/licenses/>.
%>

<%= stylesheet_link_tag 'redmine_oauth', plugin: 'redmine_oauth' %>

<p>
  <label><%= l(:setting_self_registration) %></label>
  <%= select_tag 'settings[self_registration]', options_for_select([
      [l(:label_disabled), '0'],
      [l(:label_registration_activation_by_email), '1'],
      [l(:label_registration_manual_activation), '2'],
      [l(:label_registration_automatic_activation), '3']
    ], RedmineOauth.self_registration), onchange: 'oauth_self_registration_changed();' %>
  <em class="info"><%= l(:label_default)%>: <%= l(:label_disabled) %></em>
</p>
<p>
  <label><%= l(:oauth_hide_login_form) %></label>
  <%= check_box_tag 'settings[hide_login_form]', '1', RedmineOauth.hide_login_form? %>
  <em class="info"><%= l(:label_default)%>: <%= l(:general_text_No) %></em>
</p>
<p>
  <label><%= l(:oauth_update_login) %></label>
  <%= check_box_tag 'settings[update_login]', '1', RedmineOauth.update_login? %>
  <em class="info">
    <%= l(:oauth_update_login_info) %>
    <br>
    <%= l(:label_default) %>: <%= l(:general_text_No) %>
  </em>
</p>
<p>
  <label><%= l(:oauth_logout) %></label>
  <%= check_box_tag 'settings[oauth_logout]', '1', RedmineOauth.oauth_logout? %>
  <em class="info">
    <%= l(:oauth_logout_info) %><br>
    <%= l(:label_default) %>: <%= l(:general_text_No) %>
  </em>
</p>
<p>
  <label><%= l(:oauth_login) %></label>
  <%= check_box_tag 'settings[oauth_login]', '1', RedmineOauth.oauth_login? %>
  <em class="info">
    <%= l(:oauth_login_info) %><br>
    <%= l(:label_default) %>: <%= l(:general_text_No) %>
  </em>
</p>
<p>
  <label><%= l(:oauth_only_login) %></label>
  <%= check_box_tag 'settings[oauth_only_login]', '1', RedmineOauth.oauth_only_login? %>
  <em class="info">
    <%= l(:oauth_only_login_info) %><br>
    <%= l(:label_default) %>: <%= l(:general_text_No) %>
  </em>
</p>