<%#
# frozen_string_literal: true

# Redmine plugin OAuth
#
# Karel PiÄman <karel.picman@kontron.com>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>

<% if RedmineOauth.button_icon != 'none' %>
  <%= stylesheet_link_tag 'redmine_oauth', plugin: 'redmine_oauth' %>
  <% if RedmineOauth.hide_login_form? %>
    <%= javascript_include_tag('redmine_oauth.js', plugin: :redmine_oauth) %>
    <fieldset id= "oauth-fieldset-login-form" class="oauth_collapsible oauth_collapsed">
      <legend class="oauth_legend" onclick="oauth_toggle_fieldset(this)"><%= l(:button_login) %></legend>
    </fieldset>
  <% end %>
  <div id="oauth-form">
    <%= form_tag(oauth_path(back_url: back_url), method: :get, id: 'oauth-login') do %>
      <%= back_url_hidden_field_tag %>
      <%= button_tag(name: 'login-oauth', tabindex: 7, id: 'login-oauth-submit', title: l(:oauth_login_with),
            style: "background: #{RedmineOauth.button_color}") do %>
        <i id="button_icon" class="<%= RedmineOauth.button_icon %>"></i>
        <%= l(:oauth_login_via,
              oauth: RedmineOauth.custom_name.blank? ? RedmineOauth.oauth_name : RedmineOauth.custom_name).html_safe %>
      <% end %>
      <% if RedmineOauth.oauth_login? %>
        <br>
        <label for="oauth_autologin">
          <%= check_box_tag 'oauth_autologin', 1, false, tabindex: 6 %>
          <%= l(:oauth_autologin,
                oauth: RedmineOauth.custom_name.blank? ? RedmineOauth.oauth_name : RedmineOauth.custom_name) %>
        </label>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= javascript_tag do %>
  <%# Autologin option %>
  $('#autologin').change(function() {
    let oauth_login_form = $("#oauth-login")
    if(oauth_login_form && this.checked) {
      $('<input>', {
        type: 'hidden',
        id: 'autologin',
        name: 'autologin',
        value: '1'
      }).appendTo(oauth_login_form);
    }
    else{
        let hidden_tag = $('input:hidden[name="autologin"]');
        if(hidden_tag){
          hidden_tag.remove();
        }
    }
  });
  <%# Hidden login form %>
  <% if RedmineOauth.hide_login_form? %>
    let login_form = $('div#login-form');
    login_form.appendTo('#oauth-fieldset-login-form');
    login_form.toggle();
  <% end %>
<% end %>
